<div id="play" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/game/play.less</em>, <em>assets/js/pages/game/play.page.js</em>, and <em>api/controllers/game/view-play.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
