<div id="play">
    <div class="container">
      <h1>Easylearn : Play</h1>
      <hr/>
      <p>Here is a list of your cards :</p>
            <div v-for="myCarte in myCartes" :value="myCarte.id">
				<br>
				Carte Numéro : {{myCarte.id}}
				<code>
						<p>{{myCarte.numMotsRecto.libelle}}</p>
						<p>{{myCarte.numMotsVerso.libelle}}</p>
				</code>

				<br>
            </div>

      <div class="buttons">
        <a class="btn btn-info">Click me </a>
        <button class="btn btn-outline-info ml-2">Open a modal</button>
      </div>
    </div>
  
  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  