<div id="welcome">
    <div class="container">
      <h1>Easylearn : Play</h1>
      <hr/>
      <p>Please chose the category you want to play </p>
      <div class="buttons">
        <a class="btn btn-info" href="/account/profile">Update my email</a>
        <button class="btn btn-outline-info ml-2" @click="clickOpenDashboardModalButton()">Open a modal</button>
      </div>
    </div>
  
  </div>
  <%- /* Expose locals as `window.SAILS_LOCALS` :: */ exposeLocalsToBrowser() %>
  