<div id="documentation" v-cloak>

  <h1>TODO: Implement this page.</h1>
  <p>(See also <em>assets/styles/pages/documentation.less</em>, <em>assets/js/pages/documentation.page.js</em>, and <em>api/controllers/view-documentation.js</em>.)</p>

</div>
<%- /* Expose server-rendered data as window.SAILS_LOCALS :: */ exposeLocalsToBrowser() %>
